.hero_bg {
  background-image: url('https://images.unsplash.com/photo-1599328580087-15c9dab481f3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
  background-repeat: no-repeat;
  background-position: right;
  height: 55vh;
}
